<strong>Olá,  {{ deliveryman  }}</strong>
<p>Você possui uma nova encomenda disponível para retirada. Confira os detalhes abaixo:</p>
<p>
  <strong>Encomenda: </strong> {{ product }} <br />
  <strong>Destinatário: </strong> {{ recipient }}  <br />
  <strong>Endereço:</strong> <br />
  {{ street }}, número {{ number }}. <br/>
  CEP: {{ zip }} <br />
  {{ city }} - {{ state }}<br />
</p>
